{% extends "base.html" %}


{% block titulo %}
    Descripción de la App
{% endblock %}


{% block contenido %}
{% include "fragments/titulo.html" with titulo="Acerca de la App" %}

<div class="card border-danger mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Danger card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>
{% endblock %}